<!-- Article structured data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "url": "{{ site.url }}{{ page.url }}",
  "name": {{ page.title | jsonify }},
  "headline": {{ page.title | jsonify }},
  "keywords": {{ page.tags | join: ',' | jsonify }},
  "description": {{ page.excerpt | strip_newlines | strip | jsonify }},
  "image": {{ page.excerpt_image | jsonify }},
  "datePublished": {{ page.date | jsonify }},
  "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ site.author | jsonify }},
    "email": {{ site.email | jsonify }},
    "url": {{ site.author_site | jsonify }}
  }
}
</script>

<!-- Breadcrumbs -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": 
  [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "home",
      "item": "{{ site.url }}"
    },
    {% assign crumburl = page.url | split: '/' %}
    {% for crumb in crumburl offset: 1 %}
    {
      "@type": "ListItem",
      "position": {{ forloop.index | plus: 1 }},
      "name": "{{ crumb }}",
      "item": "{{ site.url | append: '/' }}{% for u in crumburl offset: 1 limit: forloop.index %}{{ u | append: '/' }}{% endfor %}"
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>