---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="日文敬語|軟橘小站" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
                <p>主題分類：日文敬語</p>
				<ul>
					<li><a href="/blog/keigo/2024-10-06-keigo-preface/">日文基礎敬語 其之零 - 前言</li>
                    <li><a href="/blog/keigo/2024-10-07-keigo-contents/">日文基礎敬語 目次</li>
                    <li><a href="/blog/keigo/2024-10-07-keigo-sonkeigo/">日文基礎敬語 其之一 - 尊敬語</li>
                    <li><a href="/blog/keigo/2024-10-08-keigo-kenjougo/">日文基礎敬語 其之二 - 謙讓語</li>
                    <li><a href="/blog/keigo/2024-10-12-keigo-teichougou/">日文基礎敬語 其之三 - 丁重語（禮貌用語）</li>
                    <li><a href="/blog/keigo/2024-10-13-keigo-double/">日文基礎敬語 其之四 - 雙重敬語</li>
                    <li><a href="/blog/keigo/2024-10-14-keigo-juju/">日文基礎敬語 其之五 - 授受動詞</li>
                    <li><a href="/blog/keigo/2024-10-15-keigo-kanou/">日文基礎敬語 其之六 - 可能動詞</li>
                    <li><a href="/blog/keigo/2024-10-16-keigo-adj/">日文基礎敬語 其之七 - 形容詞、形容動詞</li>
                    <li><a href="/blog/keigo/2024-10-17-keigo-noun/">日文基礎敬語 其之八 - 名詞</li>
                    <li><a href="/blog/keigo/2024-10-18-keigo-kyoukei/">日文基礎敬語 其之九 - 恭敬用語</li>                
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
