---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="關於本站"
	description="關於軟橘資訊站"
	pubDate={new Date('2025 02 20')}
	heroImage="/assets/banners/aris_knows.jpg"
>
	<p>
		Coming soon...
	</p>

</Layout>
