---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="關於本站"
	description="關於本站"
	pubDate={new Date('2025 02 12')}
	heroImage="/banners/home.jpeg"
>
	<h2>關於本站</h2>
	<p>
		因為看到目前大多的教學網站和參考書都是用日檢級別來分級，
		但本人認為這樣做只能增加考試功力，對於「寫」和「說」的幫助並不是很大。<br />
		所以本人創設了此站（軟橘日文），<br />
		採用「句型意義」或「文法主題」作為分類。<br />
		方便讀者在寫文章的時候能夠查找需要的句型。<br />
		等讀者制霸了本站、養成了良好的寫作習慣之後，自然會下筆如有神。<br />
	</p>
	<br />

	<h2>誰適合使用這個網站？</h2>
	<p>
		只要有五十音和基礎句型的了解，也就是說N5程度？都應該能讀懂本站的內容。<br />
		此外有些容易忘記的觀念，在相關主題中也會再三提醒。<br />
		應該是不會太困難。
	</p>
	<br />

	<h2>本站的營運模式</h2>
	<p>
		我討厭看廣告也討厭彈出式視窗！<br />
		所以這個網站是沒有廣告的，以後也不會有。而且不會有會員制內容（收起料理）。 <br />
		因此，您的贊助讓我下一餐有著落...大恩大德感激不盡...
	</p>

	<div>
		<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
		<script type='text/javascript'>kofiwidget2.init('如果覺得我的文章有幫助，請拿錢錢砸我', '#29abe0', 'A0A614DMQ2');kofiwidget2.draw();</script> 
	</div>
	<br />


	<h2>關於我</h2>
	<p>我之後再補完，總之我有N1證書，然後正在從事翻譯工作（相信我之術）</p>

	<h2>暫時性目標</h2>
	<div>
		<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
		<script type='text/javascript'>kofiwidget2.init('贊助我寫完「基礎敬語」', '#29abe0', 'A0A614DMQ2');kofiwidget2.draw();</script> 
	</div>
	<p>您的贊助是我編寫網站的助燃劑，拜託拜託，謝謝謝謝。</p>
</Layout>
