---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="本站公告！"
	description="軟橘資訊站公告"
	pubDate={new Date('2025 02 20')}
	heroImage="/assets/banners/aris_exclamation.jpg"
>
	<p>
		Coming soon...
	</p>

</Layout>